# Exploratory Data Analysis Of Customer Travel Preferences and Behaviour

In [9]:
import pandas as pd

In [10]:
import numpy as np

In [11]:
project_data = pd.read_csv("Travel.csv")

# Qusetions and Solutions

1. What is the distribution of customerages, and how does age relate to product purchase (ProdTaken)?

In [15]:
d_age = project_data['Age'].value_counts()

In [16]:
d_age

Age
35.0    237
36.0    231
34.0    211
31.0    203
30.0    199
32.0    197
33.0    189
37.0    185
29.0    178
38.0    176
41.0    155
39.0    150
28.0    147
40.0    146
42.0    142
27.0    138
43.0    130
46.0    121
45.0    116
26.0    106
44.0    105
51.0     90
47.0     88
50.0     86
25.0     74
52.0     68
53.0     66
48.0     65
49.0     65
55.0     64
54.0     61
56.0     58
24.0     56
22.0     46
23.0     46
59.0     44
21.0     41
20.0     38
19.0     32
58.0     31
57.0     29
60.0     29
18.0     14
61.0      9
Name: count, dtype: int64

In [17]:
d_age.sort_index()

Age
18.0     14
19.0     32
20.0     38
21.0     41
22.0     46
23.0     46
24.0     56
25.0     74
26.0    106
27.0    138
28.0    147
29.0    178
30.0    199
31.0    203
32.0    197
33.0    189
34.0    211
35.0    237
36.0    231
37.0    185
38.0    176
39.0    150
40.0    146
41.0    155
42.0    142
43.0    130
44.0    105
45.0    116
46.0    121
47.0     88
48.0     65
49.0     65
50.0     86
51.0     90
52.0     68
53.0     66
54.0     61
55.0     64
56.0     58
57.0     29
58.0     31
59.0     44
60.0     29
61.0      9
Name: count, dtype: int64

2. How does the type of contact(type of contact)influence the likelihood of purchasing a
travel product?

In [20]:
relation = pd.pivot_table(project_data,values='ProdTaken', index='Age', aggfunc=np.sum)

In [21]:
relation

      ProdTaken
Age
18.0          8
19.0         21
20.0         25
21.0         23
22.0         15
23.0         13
24.0         18
25.0         20
26.0         37
27.0         30
28.0         26
29.0         57
30.0         48
31.0         41
32.0         40
33.0         40
34.0         44
35.0         34
36.0         27
37.0         24
38.0         15
39.0         14
40.0         23
41.0         24
42.0         20
43.0         10
44.0         17
45.0         18
46.0         11
47.0         12
48.0         11
49.0          9
50.0         12
51.0         17
52.0         14
53.0          8
54.0          2
55.0          7
56.0         12
57.0          5
58.0         11
59.0         12
60.0          1
61.0          0

In [22]:
influence = pd.pivot_table(project_data, values='ProdTaken', index='TypeofContact', aggfunc=np.sum)
influence

                 ProdTaken
TypeofContact
Company Invited        310
Self Enquiry           607

3. Is there a correlation between the city tier(citytier)and monthly income (monthly
income) of customers?

In [23]:
dataset = pd.read_csv("Travel.csv")

In [25]:
correlation = pd.pivot_table(dataset, values='MonthlyIncome', index='CityTier', aggfunc=np.sum)

In [26]:
correlation

          MonthlyIncome
CityTier
1            70839753.0
2             4564447.0
3            34546218.0

4 . What is the average duration of a pitch (duration of pitch)for customers who
purchased a product versus those who did not?

In [27]:
duration =  pd.pivot_table(dataset, values='DurationOfPitch', index='ProductPitched', aggfunc='mean')
duration

                DurationOfPitch
ProductPitched
Basic                 15.194834
Deluxe                15.935839
King                  12.100000
Standard              15.986505
Super Deluxe          16.230994

5. How do occupation types(occupation)distribute among customers,

In [28]:
occupation=dataset.groupby("Occupation")['CustomerID'].count()
occupation

Occupation
Free Lancer          2
Large Business     434
Salaried          2368
Small Business    2084
Name: CustomerID, dtype: int64

6. Are there any gender-based preferences for the type of product pitched
(ProductPitched)?

In [29]:
checking=pd.pivot_table(dataset, values='ProductPitched', index='Gender', aggfunc='count')
checking

         ProductPitched
Gender
Fe Male             155
Female             1817
Male               2916

7. What is the relationship between the number of trips(number of trips)taken by a
customer and their likelihood to purchase a new travel product?

In [30]:
relation=pd.pivot_table(dataset,values='ProdTaken',index='NumberOfTrips',aggfunc='mean')
relation

               ProdTaken
NumberOfTrips
1.0             0.180645
2.0             0.204235
3.0             0.201112
4.0             0.127615
5.0             0.135371
6.0             0.198758
7.0             0.284404
8.0             0.276190
19.0            1.000000
20.0            1.000000
21.0            0.000000
22.0            0.000000

8. Does having a passport(passport)correlate with a higher number of trips taken or a
higher likelihood of purchasing a travel product?

In [31]:
higher_number = dataset.groupby('Passport')['NumberOfTrips'].mean()
higher_number

Passport
0    3.221165
1    3.273844
Name: NumberOfTrips, dtype: float64

9. How satisfied are customers with the pitch (pitch satisfaction score),and does this
satisfaction influence product purchase?

In [39]:
satisfaction=dataset.groupby('PitchSatisfactionScore')['CustomerID'].count()
satisfaction

PitchSatisfactionScore
1     942
2     586
3    1478
4     912
5     970
Name: CustomerID, dtype: int64

10. Among customers with children (number of children visiting), how does the number
of children impact travel product purchases?

In [38]:
number_of_children=dataset.groupby('NumberOfChildrenVisiting')['ProdTaken'].mean()
number_of_children

NumberOfChildrenVisiting
0.0    0.186691
1.0    0.188462
2.0    0.189513
3.0    0.203077
Name: ProdTaken, dtype: float64

11. Gender preferences for product types: how does gender influence the preference for
different types of travel products pitched (product pitched)?

In [37]:

product = pd.pivot_table(dataset, index='Gender', columns='ProductPitched', aggfunc='size', fill_value=0)
product

ProductPitched  Basic  Deluxe  King  Standard  Super Deluxe
Gender
Fe Male             4      83     0        63             5
Female            676     641    82       263           155
Male             1162    1008   148       416           182

Impact of marital status on travel preferences: does marital status affect the choice of
travel product, and if so, how do different marital statuses correl

In [35]:
marital = pd.pivot_table(dataset, index='MaritalStatus', columns='ProductPitched', aggfunc='size', fill_value=0)
marital

ProductPitched  Basic  Deluxe  King  Standard  Super Deluxe
MaritalStatus
Divorced          332     336    52       142            88
Married           816     852   126       380           166
Single            511     221    52        50            82
Unmarried         183     323     0       170             6